@model StatisticApi.Controllers.dto.request.KeyValuePairRequest;
@{
    Layout = "Index";
}
<h2>Добавить значения</h2>
<form method="post">
    <div class="text_input">
        <p>
            <label>Ключ</label>
            <input type="text" asp-for="@Model.Key" name="Key" id="Key" class="input"/>
        </p>
        <p>
            <label>Значения (через запятую без пробелов)</label>
            <input type="text" asp-for="@Model.Values" name="Values" id="Values" class="input"/>
        </p>
    </div>
    <div class="form-button">
        <input type="submit" value="OK" class="button"/>
    </div>
</form>